openapi: 3.0.3
info:
  title: Application API
  description: API documentation for the application
  version: 1.0.0
servers:
  - url: /api
    description: API server
paths:
  /register/:
    $ref: './paths/register.yml#/register'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Сообщение об ошибке
    ValidationError:
      type: object
      properties:
        field_name:
          type: array
          items:
            type: string
          description: Список ошибок валидации для конкретного поля
